<div class="container-fluid">
  <app-page-title
    title="Saas"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <div class="row">
    <div class="col-lg-12">
      <div class="card"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-4">
      <div class="card bg-primary-subtle">
        <div>
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">Welcome Back !</h5>
                <p>{{ user?.username }} Dashboard</p>

                <ul class="ps-3 mb-0">
                  <li class="py-1">{{ compteBancaire?.nomBanque }}</li>
                </ul>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img
                src="assets/images/profile-img.png"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                  <span
                    class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-18"
                  >
                    <i class="bx bx-copy-alt"></i>
                  </span>
                </div>
                <h5 class="font-size-14 mb-0">Orders</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>
                  1,452 <i class="mdi mdi-chevron-up ms-1 text-success"></i>
                </h4>
                <div class="d-flex">
                  <span class="badge badge-soft-success font-size-12">
                    + 0.2%
                  </span>
                  <span class="ms-2 text-truncate">From previous period</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                  <span
                    class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-18"
                  >
                    <i class="bx bx-archive-in"></i>
                  </span>
                </div>
                <h5 class="font-size-14 mb-0">Revenue</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>
                  $ {{ compteBancaire?.soldeCompte }}
                  <i class="mdi mdi-chevron-up ms-1 text-success"></i>
                </h4>
                <div class="d-flex">
                  <span class="badge badge-soft-success font-size-12">
                    + 0.2%
                  </span>
                  <span class="ms-2 text-truncate">From previous period</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center mb-3">
                <div class="avatar-xs me-3">
                  <span
                    class="avatar-title rounded-circle bg-primary-subtle text-primary font-size-18"
                  >
                    <i class="bx bx-purchase-tag-alt"></i>
                  </span>
                </div>
                <h5 class="font-size-14 mb-0">Average Price</h5>
              </div>
              <div class="text-muted mt-4">
                <h4>
                  $ 16.2 <i class="mdi mdi-chevron-up ms-1 text-success"></i>
                </h4>

                <div class="d-flex">
                  <span class="badge badge-soft-warning font-size-12">
                    0%
                  </span>
                  <span class="ms-2 text-truncate">From previous period</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-end">
              <div class="input-group input-group-sm">
                <select
                  class="form-select form-select-sm"
                  (change)="selectMonth($event)"
                >
                  <option value="january" selected>Jan</option>
                  <option value="december">Dec</option>
                  <option value="november">Nov</option>
                  <option value="october">Oct</option>
                </select>
                <label class="input-group-text">Month</label>
              </div>
            </div>
            <h4 class="card-title mb-4">Earning</h4>
          </div>

          <div class="row" *ngFor="let item of sassEarning">
            <div class="col-lg-4">
              <div class="text-muted">
                <div class="mb-4">
                  <p>{{ item.name }}</p>
                  <h4>{{ item.amount }}</h4>
                  <div>
                    <span class="badge badge-soft-success font-size-12 me-1">
                      + {{ item.revenue }}%
                    </span>
                    {{ item.time }}
                  </div>
                </div>

                <div>
                  <a href="javascript: void(0);" class="btn btn-primary btn-sm"
                    >View Details <i class="mdi mdi-chevron-right ms-1"></i
                  ></a>
                </div>

                <div class="mt-4">
                  <p class="mb-2">{{ item.month }}</p>
                  <h5>{{ item.previousamount }}</h5>
                </div>
              </div>
            </div>

            <div class="col-lg-8">
              <apx-chart
                class="apex-charts"
                dir="ltr"
                [series]="item.series"
                [chart]="earningLineChart.chart"
                [colors]="earningLineChart.colors"
                [stroke]="earningLineChart.stroke"
                [dataLabels]="earningLineChart.dataLabels"
              >
              </apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">Portefeuilles</h4>
        <tabset class="nav-pills bg-light rounded">
          <ngx-simplebar style="height: 250px">
            <div class="table-responsive">
              <table class="table table-nowrap align-middle table-hover mb-0">
                <tbody>
                  <tr *ngFor="let item of portefeuilles">
                    <td style="width: 50px">
                      <div class="form-check">
                        <label
                          class="form-check-label"
                          for="tasklistCheck07"
                        ></label>
                      </div>
                    </td>
                    <td>
                      <h5 class="text-truncate font-size-14 mb-1">
                        <a href="javascript: void(0);" class="text-dark">{{
                          item.idP
                        }}</a>
                      </h5>
                      <p class="text-muted mb-0">
                        riskProfile: {{ item.riskProfile }}
                      </p>
                      <p class="text-muted mb-0">
                        cashDispo: {{ item.cashDispo }}
                      </p>
                      <p class="text-muted mb-0">
                        rendementTotal: {{ item.rendementTotal }}
                      </p>
                    </td>
                    <td>
                      <div>
                        <ul class="list-inline mb-0 font-size-16"></ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ngx-simplebar>
        </tabset>
      </div>

      <div class="card-footer bg-transparent border-top">
        <div class="text-center">
          <button
            href="javascript: void(0);"
            class="btn btn-primary"
            (click)="saveWallt()"
          >
            Add new Portefeuille
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="clearfix">
            <div class="float-end">
              <div class="input-group input-group-sm">
                <select
                  class="form-select form-select-sm"
                  (change)="sellingProduct($event)"
                >
                  <option value="january" selected>Jan</option>
                  <option value="december">Dec</option>
                  <option value="november">Nov</option>
                  <option value="october">Oct</option>
                </select>
                <label class="input-group-text">Month</label>
              </div>
            </div>
            <h4 class="card-title mb-4">Top Selling product</h4>
          </div>
          <div *ngFor="let data of sassTopSelling">
            <div class="text-muted text-center">
              <p class="mb-2">{{ data.title }}</p>
              <h4>{{ data.amount }}</h4>
              <p class="mt-4 mb-0">
                <span class="badge badge-soft-success font-size-11 me-2">
                  {{ data.revenue }}% <i class="mdi mdi-arrow-up"></i>
                </span>
                From previous period
              </p>
            </div>

            <div class="table-responsive mt-4">
              <table class="table align-middle mb-0">
                <tbody>
                  <tr *ngFor="let item of data.list">
                    <td>
                      <h5 class="font-size-14 mb-1">{{ item.name }}</h5>
                      <p class="text-muted mb-0">{{ item.text }}</p>
                    </td>

                    <td>
                      <app-sellingchart
                        :value="{{ item.sales }}"
                        :Chartcolor="{{ item.chartVariant }}"
                      >
                      </app-sellingchart>
                    </td>
                    <td>
                      <p class="text-muted mb-1">Sales</p>
                      <h5 class="mb-0">{{ item.sales }} %</h5>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="row">
            <div class="col-md-4 col-9">
              <h5 class="font-size-15 mb-1">Steven Franklin</h5>
              <p class="text-muted mb-0">
                <i class="mdi mdi-circle text-success align-middle me-1"></i>
                Active now
              </p>
            </div>
            <div class="col-md-8 col-3">
              <ul class="list-inline user-chat-nav text-end mb-0">
                <li class="list-inline-item d-none d-sm-inline-block">
                  <div class="dropdown" dropdown>
                    <button
                      class="btn nav-btn dropdown-toggle"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      dropdownToggle
                    >
                      <i class="bx bx-search-alt-2"></i>
                    </button>
                    <div
                      class="dropdown-menu dropdown-menu-end dropdown-menu-md"
                      *dropdownMenu
                    >
                      <form class="p-3">
                        <div class="m-0">
                          <div class="input-group">
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Search ..."
                              aria-label="Recipient's username"
                            />
                            <div class="input-group-append">
                              <button class="btn btn-primary" type="submit">
                                <i class="mdi mdi-magnify"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </li>
                <li class="list-inline-item d-none d-sm-inline-block">
                  <div class="dropdown" dropdown>
                    <button
                      class="btn nav-btn dropdown-toggle"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      dropdownToggle
                    >
                      <i class="bx bx-cog"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                      <a class="dropdown-item" href="javascript: void(0);"
                        >View Profile</a
                      >
                      <a class="dropdown-item" href="javascript: void(0);"
                        >Clear chat</a
                      >
                      <a class="dropdown-item" href="javascript: void(0);"
                        >Muted</a
                      >
                      <a class="dropdown-item" href="javascript: void(0);"
                        >Delete</a
                      >
                    </div>
                  </div>
                </li>

                <li class="list-inline-item">
                  <div class="dropdown" dropdown>
                    <button
                      class="btn nav-btn dropdown-toggle"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      dropdownToggle
                    >
                      <i class="bx bx-dots-horizontal-rounded"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                      <a class="dropdown-item" href="javascript: void(0);"
                        >Action</a
                      >
                      <a class="dropdown-item" href="javascript: void(0);"
                        >Another action</a
                      >
                      <a class="dropdown-item" href="javascript: void(0);"
                        >Something else</a
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body pb-0">
          <div>
            <div class="chat-conversation">
              <ul class="list-unstyled">
                <ngx-simplebar style="height: 260px" #scrollRef>
                  <li>
                    <div class="chat-day-title">
                      <span class="title">Today</span>
                    </div>
                  </li>
                  <li
                    *ngFor="let data of ChatData"
                    [ngClass]="{ right: data.align === 'right' }"
                  >
                    <div class="conversation-list">
                      <div class="dropdown" dropdown>
                        <a
                          class="dropdown-toggle"
                          href="javascript: void(0);"
                          role="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          dropdownToggle
                        >
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </a>
                        <div class="dropdown-menu" *dropdownMenu>
                          <a class="dropdown-item" href="javascript: void(0);"
                            >Copy</a
                          >
                          <a class="dropdown-item" href="javascript: void(0);"
                            >Save</a
                          >
                          <a class="dropdown-item" href="javascript: void(0);"
                            >Forward</a
                          >
                          <a class="dropdown-item" href="javascript: void(0);"
                            >Delete</a
                          >
                        </div>
                      </div>
                      <div class="ctext-wrap">
                        <div class="conversation-name">{{ data.name }}</div>
                        <p>
                          {{ data.message }}
                        </p>
                        <p class="chat-time mb-0">
                          <i class="bx bx-time-five align-middle mr-1"></i>
                          {{ data.time }}
                        </p>
                      </div>
                    </div>
                  </li>
                </ngx-simplebar>
              </ul>
            </div>
          </div>
        </div>

        <div class="p-3 chat-input-section">
          <form (ngSubmit)="messageSave()" [formGroup]="formData" class="row">
            <div class="col">
              <div class="position-relative">
                <input
                  type="text"
                  class="form-control rounded chat-input"
                  placeholder="Enter Message..."
                  formControlName="message"
                  [ngClass]="{
                    'is-invalid': chatSubmit && form.message.errors
                  }"
                />
                <div
                  *ngIf="chatSubmit && form.message.errors"
                  class="invalid-feedback"
                >
                  <span *ngIf="form.message.errors.required"
                    >Message is required.</span
                  >
                </div>
                <div class="chat-input-links">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <a
                        href="javascript: void(0);"
                        placement="top"
                        tooltip="Emoji"
                        ><i class="mdi mdi-emoticon-happy-outline"></i
                      ></a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        href="javascript: void(0);"
                        placement="top"
                        tooltip="Images"
                        ><i class="mdi mdi-file-image-outline"></i
                      ></a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        href="javascript: void(0);"
                        placement="top"
                        tooltip="Add Files"
                        ><i class="mdi mdi-file-document-outline"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary chat-send w-md">
                <span class="d-none d-sm-inline-block me-2">Send</span>
                <i class="mdi mdi-send"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    bsModal
    #newContactModal="bs-modal"
    class="modal fade"
    id="newContactModal"
    tabindex="-1"
    aria-labelledby="newContactModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newContactModalLabel">Edit Profile</h5>
          <button
            type="button"
            class="btn-close"
            (click)="newContactModal.hide()"
          ></button>
        </div>
        <div class="modal-body">
          <form
            (ngSubmit)="savePortefeuilles()"
            [formGroup]="createContactForm"
            autocomplete="off"
            class="needs-validation createContact-form"
            id="createContact-form"
            novalidate
          >
            <div class="row">
              <div class="col-lg-12">
                <input type="hidden" class="form-control" id="userid-input" />

                <!-- Avatar Section -->
                <div class="text-center mb-4"></div>

                <!-- User profession -->
                <div class="mb-3">
                  <label for="userprofession-input" class="form-label"
                    >User Profession</label
                  >
                  <input
                    type="text"
                    id="userprofession-input"
                    class="form-control"
                    placeholder="Enter profession"
                    formControlName="profession"
                    required
                  />
                  <div class="invalid-feedback">Please enter a profession.</div>
                </div>

                <!-- User phone -->
                <div class="mb-3">
                  <label for="userphone-input" class="form-label"
                    >User Phone</label
                  >
                  <input
                    type="text"
                    id="userphone-input"
                    class="form-control"
                    placeholder="Enter phone"
                    formControlName="phone"
                    required
                  />
                  <div class="invalid-feedback">Please enter a phone.</div>
                </div>

                <!-- User age -->
                <div class="mb-3">
                  <label for="userage-input" class="form-label">User Age</label>
                  <input
                    type="text"
                    id="userage-input"
                    class="form-control"
                    placeholder="Enter age"
                    formControlName="age"
                    required
                  />
                  <div class="invalid-feedback">Please enter an age.</div>
                </div>

                <!-- User location -->
                <div class="mb-3">
                  <label for="userlocation-input" class="form-label"
                    >User Location</label
                  >
                  <input
                    type="text"
                    id="userlocation-input"
                    class="form-control"
                    placeholder="Enter location"
                    formControlName="location"
                    required
                  />
                  <div class="invalid-feedback">Please enter a location.</div>
                </div>

                <!-- User description -->
                <div class="mb-3">
                  <label for="userdescription-input" class="form-label"
                    >User Description</label
                  >
                  <input
                    type="text"
                    id="userdescription-input"
                    class="form-control"
                    placeholder="Enter description"
                    formControlName="description"
                    required
                  />
                  <div class="invalid-feedback">
                    Please enter a description.
                  </div>
                </div>
              </div>

              <!-- Modal Footer with buttons -->
              <div class="col-lg-12">
                <div class="text-end">
                  <button
                    type="button"
                    class="btn btn-outline-secondary me-1"
                    (click)="newContactModal.hide()"
                  >
                    Cancel
                  </button>
                  <button
                    type="submit"
                    id="addContact-btn"
                    class="btn btn-success"
                  >
                    Done
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- end modal body -->
      </div>
      <!-- end modal-content -->
    </div>

    <!-- end modal-dialog -->
  </div>
  <!-- end row -->
</div>
